.timelineContainer {
  display: flex;
  justify-content: center;  /* Align children horizontally in the center */
  align-items: center;      /* Align children vertically in the center */
  position: relative;       /* Position relative for absolute positioning of the triangle */
  height: 100vh;            /* Full viewport height */
  padding: 50px 0;          /* Add padding to ensure content is visible */
}

.lineContainer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80%;
  left: 50%; /* Position the left edge of the element at the center of the container */
  transform: translateX(-50%); /* Shift the element left by half its width to center it */
}

.verticalBar {
  width: 4px; /* Width of the vertical bar */
  height: 200px; /* Height of the vertical bar */
  background-color: black;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: black;
}


.triangle {
  position: absolute;
  width: 200px; /* Adjust based on your actual image size */
  height: 200px; /* Adjust based on your actual image size */
  align-self: center; /* This ensures the triangle is also centered vertically */
  transition: left 1s linear; /* Smooth transition of the triangle */
  top: -70px; /* Position above the line */
  left: 50%;
  transform: translateX(-50%); /* Center the triangle horizontally */
}

