.lineContainer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%; /* Position the left edge of the element at the center of the container */
  transform: translateX(-50%); /* Shift the element left by half its width to center it */
}

.verticalBar {
  width: 2px; /* Width of the vertical bar */
  height: 200px; /* Height of the vertical bar */
  background-color: black;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: black;
}


.triangle {
  width: 200px; /* Adjust based on your actual image size */
  height: 200px; /* Adjust based on your actual image size */
  align-self: center; /* This ensures the triangle is also centered vertically */
  transition: left 1s linear; /* Smooth transition of the triangle */
  margin-top: -20px; /* Adjust this value to move the triangle up */
}

/*@keyframes slide {*/
/*  0% { left: 0; }*/
/*  50% { left: calc(100%); } !* 200px is the width of the triangle *!*/
/*  100% { left: 0; }*/
/*}*/
