.time-inputs {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  width: 30%;
  align-items: flex-start;
}

.time-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.time-input label {
  margin-bottom: 5px;
  font-size: 16px;
}

.time-input input {
  padding: 8px;
  font-size: 16px;
}
